        {% extends "AppCoder/padre.html" %}

        {% load static %}


                {% block contenido2 %}
                <h1 class="mb-1">JUGADORES DE LA BD!!!</h1>
                {% endblock %}


                {% block contenido %}

                        <!--Aca se pone lo que cambia (dinamico) y lo asociado a esta vista en particular-->

                        {% for j in jugadores %}

                                <li> JUGADOR:  {{ curso.nombre }}</li>  </li>
                                <button>

                                        <a href="">Eliminar</a>
                                        <a href="">Editar</a>

                                </button>

                        {% endfor %}

                        <a href= ""> AGREGAR OTRO JUGADOR</a>



                {% endblock %}