        {% extends "AppCoder/padre.html" %}

        {% load static %}


                {% block contenido2 %}
                <h1 class="mb-1">INICIO!!!</h1>
                {% endblock %}


                {% block contenido %}

                        <!--Aca se pone lo que cambia (dinamico) y lo asociado a esta vista en particular-->

                        <h1>ESTE ES EL TITULO DEL INICIO QUE CAMBIO CON EL BLOCK DE CONTENIDO</h1>

                        <p>Esto se heredó de la plantilla padre.html</p>

                        <h3>En el hijo inicio.html, no hay casi nada =)</h3>


                {% endblock %}